---
volumes:
  data:
services:
  portainer:
    image: portainer/portainer-ce:2.39.0
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
